nav { margin-bottom: 40px; }
#preloader { margin: 200px auto 100px auto; }

#listing th { cursor: pointer; }
.sorter { display: inline-block; width: 20px; line-height: 20px; }
.sorter.active-asc:after { content: '↑' }
.sorter.active-desc:after { content: '↓' }