<div class="container">

  <!-- Navbar / Header --> 
  <nav>
    <div class="nav-wrapper teal lighten-3">
      <a href="#" class="brand-logo center">Data Listing</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <!--<li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>-->
      </ul>
    </div>
  </nav>

  <!-- Preloader -->
  <div class="row" id="preloader" *ngIf="isLoaded==false">
    <div class="col s4"> </div>
    <div class="col s4 center-align">
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col s4"> </div>
  </div>

  <!-- Filtering -->
  <div class="row" id="filterbar" *ngIf="isLoaded">
    <div class="col s12">
      <span>Filter by dates: </span>
      <mat-form-field>
        <input matInput [matDatepicker]="filterStartdatePicker" (dateChange)="setFilterStartDate($event)" placeholder="Choose a start date">
        <mat-datepicker-toggle matSuffix [for]="filterStartdatePicker"></mat-datepicker-toggle>
        <mat-datepicker #filterStartdatePicker startView="year" [startAt]="tblFilterDateStart"></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="filterEnddatePicker" [min]="tblFilterDateStart" (dateChange)="setFilterEndDate($event)" placeholder="Choose an end date">
        <mat-datepicker-toggle matSuffix [for]="filterEnddatePicker"></mat-datepicker-toggle>
        <mat-datepicker #filterEnddatePicker startView="year" [startAt]="tblFilterDateEnd"></mat-datepicker>
      </mat-form-field>

    </div>
  </div>

  <!-- Table Listing -->
  <div class="row" id="listing" *ngIf="isLoaded">
    <div class="col s12">
      <table class="highlight responsive-table">
        <thead>
          <tr>
              <th (click)="sortBy('city')">City <span class="sorter" [class.active-asc]="tblSortColumn=='city' && tblSortOrder=='asc'" [class.active-desc]="tblSortColumn=='city' && tblSortOrder=='desc'"></span></th>
              <th (click)="sortBy('start_date')">Start Date <span class="sorter" [class.active-asc]="tblSortColumn=='start_date' && tblSortOrder=='asc'" [class.active-desc]="tblSortColumn=='start_date' && tblSortOrder=='desc'"></span></th>
              <th (click)="sortBy('end_date')">End Date <span class="sorter" [class.active-asc]="tblSortColumn=='end_date' && tblSortOrder=='asc'" [class.active-desc]="tblSortColumn=='end_date' && tblSortOrder=='desc'"></span></th>
              <th (click)="sortBy('price')">Price <span class="sorter" [class.active-asc]="tblSortColumn=='price' && tblSortOrder=='asc'" [class.active-desc]="tblSortColumn=='price' && tblSortOrder=='desc'"></span></th>
              <th (click)="sortBy('status')">Status <span class="sorter" [class.active-asc]="tblSortColumn=='status' && tblSortOrder=='asc'" [class.active-desc]="tblSortColumn=='status' && tblSortOrder=='desc'"></span></th>
              <th (click)="sortBy('color')">Color <span class="sorter" [class.active-asc]="tblSortColumn=='color' && tblSortOrder=='asc'" [class.active-desc]="tblSortColumn=='color' && tblSortOrder=='desc'"></span></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entry of tblEntries">
            <td>{{entry.city}}</td>
            <td>{{entry.start_date}}</td>
            <td>{{entry.end_date}}</td>
            <td>{{entry.price}}</td>
            <td>{{entry.status}}</td>
            <td><span class="color-tag"></span> {{entry.color}}</td>
          </tr>
          <tr *ngIf="tblEntries.length==0">
            <td colspan="6" class="center-align">There are no entries to show - change filters.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>